body {
  font-family: rockwell;
}

.main {
  border: 2px solid red;
  height: 1000px;
  width: 80%;

  display: flex;

  margin: 0 auto;
  padding: 1rem;
}

.img-sidebar {
  flex: 1;
  height: 100%;
  border: 2px solid blue;
}

.content-box {
  flex: 2.3;
  height: 100%;
  border: 2px solid green;
}

#starry-night {
  width: 100%;
}
