body {
  font-family: rockwell;
}

.main {
  border: 2px solid red;
  height: 1000px;
  width: 80%;

  display: flex;

  margin: 0 auto;
  padding: 1rem;
}

.content-box {
  flex: 2.3;

  height: 100%;
  border: 2px solid green;
}

/**
Sidebar div with its image and credit
*/
.sidebar {
  flex: 1;
  position: relative;

  height: 100%;
  border: 2px solid blue;
  background-color: #84ADD7;
}

#sidebar-img {
  width: 100%;
  height: 100%;
}

#sidebar-img-credit {
  width: 100%;
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 0.5rem;

  font-size: 0.8rem;
  color: #F1F2F6;
}

#sidebar-img-credit > a {
  color: inherit;
}
