body {
  font-family: rockwell;
}

.main {
  border: 2px solid red;
  height: 1000px;
  width: 80%;

  display: flex;

  margin: 0 auto;
  padding: 1rem;
}

/* Content box contains description and form */
.content-box {
  flex: 2.3;

  display: flex;
  flex-direction: column;

  height: 100%;
  border: 2px solid green;
}

/* Description box */
.description-box {
  flex: 1;

  display: flex;
  align-items: center;
  padding: 0 12%;

  background-color: #84ADD7;
  color: #F1F2F6;
}

.description-box > p {
  font-size: 1.25rem;
}

/* Account box */
.account-box {
  flex: 2.5;
  padding: 2% 10%;

  background-color: #CCBAA1;
  color: #7B675B;
}

/* "Sign-up" heading */
.sign-up-heading > h2 {
  margin-bottom: 0.2rem;
}

/* Form */
.form-box {
  width: 70%;
}

.form-box > form {
  border: 2px solid #7B675B;
}

form > .form-row {
  display: flex;

  padding: 1rem 0;
  border: 2px solid #7B675B;
}

/* Input box */
.input-box {
  display: flex;
  flex-direction: column;

  margin-right: 5%;
}

.input-box > label {
  font-size: 0.8rem;
}

input {
  appearance: none;

  border: 1px solid #F1F2F6;
  padding: 0.4rem;

  font-family: rockwell;
  font-size: 1.2rem;
}

/* Sidebar box */
.sidebar {
  flex: 1;
  position: relative;

  height: 100%;
  border: 2px solid blue;
  background-color: #84ADD7;
}

/* Sidebar image and credit */
#sidebar-img {
  width: 100%;
  height: 100%;
}

.sidebar-img-credit {
  width: 100%;
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 0.5rem;

  font-size: 0.8rem;
  color: #F1F2F6;
}

.sidebar-img-credit > a {
  color: inherit;
}

/* Sidebar logo */
.sidebar-logo {
  width: 100%;
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 50%;
}

#sidebar-logo-img {
  width: 200px;
}
